<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.css"/>
    <!--<link href="../static/css/styling.css" rel="stylesheet" />-->
    <link href="../static/css/loginCss.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="bar">
    <div class="header">
        <h1 class="header-1">Welcome to WiFiMon!</h1>
        <p class="parg-1">Wireless Crowdsourced Perfomance Monitoring and Verification</p>
    </div>
</div>

<div class="card">
    <div class="logo-card">
        <a class="image"><img style="top: 4em; height: 70px; position: relative; left: 4em;"
                              src="../static/images/login-logo.png"></a></div>
    <form class="form-inline" th:action="@{/login}" method="POST">
        <input class="form-control" type='email' placeholder="Email" name='username' value='' required="true"
               autofocus="true">
        <input class="form-control" type='password' placeholder="Password" name='password' required="true">
        <button class="btn" name="submit" type="submit" value="Login">Login</button>
    </form>
    <a class="navbar-brand">G&Eacute;ANT WiFi Monitoring Agent</a>
</div>

<footer class="page-footer" th:fragment="footer">
    <div class="footer-copyright" style="text-align: center; color: #999999">
        &copy; 2016 <a href="http://www.geant.net" target="_blank" style="color: #999999">G&Eacute;ANT</a>
        <a href="mailto:wifimon-users@lists.geant.org?Subject=WiFiMon question" target="_top" style="color: #999999">Contact</a>
    </div>
</footer>
</body>

</html>

