.idea
*.iml
*.iws
*.deb
.gradle
build/
target/
log/
/wifimon-assembly/target
/wifimon-model/target
/wifimon-processor/target
/wifimon-secure-processor/target
/wifimon-ui/target
/wifimon-assembly/debug-start.sh
!gradle-wrapper.jar
.gradletasknamecache
/wifimon-secure-processor/src/main/resources/application-local.properties
/wifimon-ui/src/main/resources/application-local.properties
/wifimon-secure-processor/src/main/resources/vm11_keystore.jks
/wifimon-ui/src/main/resources/vm11_keystore.jks
