<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-bottom" th:fragment="footer">
      <div class="container">
        <div class="navbar-footer">
            <footer class="footer">
                <div class="footer-frame">
                    <p class="footer" style="text-align: center; color: white;">
                        G&Eacute;ANT WiFi Monitoring Agent
                    </p>
                    <p class="footer credit" style="text-align: center; color: white;">
                        &copy; 2016 <a class="footer" href="http://www.geant.net" target="_blank" style="color: #999999">G&Eacute;ANT</a> |
                        <a class="footer" href="mailto:gn4-2-sa3-t5wifimon@lists.geant.org?Subject=WiFiMon question" target="_top" style="color: #999999">Contact</a>
                    </p>
                </div>
            </footer>
        </div>
      </div>
    </div>
  </body>
</html>