<footer class="page-footer" th:fragment="footer">
    <div class="container-fluid">
        <p style="text-align: center; color: white;">
             G&Eacute;ANT WiFi Monitoring Agent
       </p>
    </div>
    <div class="footer-copyright" style="text-align: center; color: white;">
                        &copy; 2016 <a href="http://www.geant.net" target="_blank" style="color: #999999">G&Eacute;ANT</a> |
                        <a href="mailto:wifimon-users@lists.geant.org?Subject=WiFiMon question" target="_top" style="color: #999999">Contact</a>
    </div>
</footer>