
    <div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"><img style="margin-top: -5px" th:src="@{/static/images/wifimon-logo-45x20.png}" height="23"/></a>
        </div>
        <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li th:class="${classActiveSettingsElasticOverview}"><a href="#" th:href="@{/}">Overview</a></li>
                <li th:class="${classActiveSettingsElasticMeasurements}"><a href="#" th:href="@{/secure/measurements}">Measurements</a></li>
                <!--<li th:class="${classActiveSettingsTimeline}"><a href="#" th:href="@{/secure/grafana}">Grafana</a></li>-->
                <li th:class="${classActiveSettingsElasticTimeseries}" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Timeseries<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" th:href="@{/secure/timeseries/downloadTimeseries}">Download Timeseries</a></li>
                        <li><a href="#" th:href="@{/secure/timeseries/uploadTimeseries}">Upload Timeseries</a></li>
                        <li><a href="#" th:href="@{/secure/timeseries/pingTimeseries}">Ping Timeseries</a></li>
                    </ul>
                </li>
		<li th:class="${classActiveSettingsSubnets}" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Subnets<span class="caret"></span></a>
		    <ul class="dropdown-menu">
			<li><a href="#" th:href="@{/secure/Subnets/147_102_13_0_24}">147.102.13.0/24</a></li>
		    </ul>
		</li>
		<li th:class="${classActiveSettingsHWProbes}" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">HWProbes<span class="caret"></span></a>
		    <ul class="dropdown-menu">
			<li><a href="#" th:href="@{/secure/HWProbes/HWProbe1}">HWProbe1</a></li>
			<li><a href="#" th:href="@{/secure/HWProbes/HWProbe2}">HWProbe2</a></li>
			<li><a href="#" th:href="@{/secure/HWProbes/HWProbe3}">HWProbe3</a></li>
			<li><a href="#" th:href="@{/secure/HWProbes/HWProbe4}">HWProbe4</a></li>
			<li><a href="#" th:href="@{/secure/HWProbes/HWProbe5}">HWProbe5</a></li>
			<li><a href="#" th:href="@{/secure/HWProbes/HWProbe6}">HWProbe6</a></li>
			<li><a href="#" th:href="@{/secure/HWProbes/HWProbe7}">HWProbe7</a></li>
			<li><a href="#" th:href="@{/secure/HWProbes/HWProbe8}">HWProbe8</a></li>
			<li><a href="#" th:href="@{/secure/HWProbes/HWProbe9}">HWProbe9</a></li>
			<li><a href="#" th:href="@{/secure/HWProbes/HWProbe10}">HWProbe10</a></li>
		    </ul>
		</li>
                <li th:class="${classActiveSettingsElasticStatistics}" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Statistics<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" th:href="@{/secure/statistics/pieStatistics}">Pie Statistics</a></li>
                        <li><a href="#" th:href="@{/secure/statistics/tableStatistics}">Table Statistics</a></li>
                    </ul>
                </li>
                <li th:class="${classActiveSettingsElasticMap}" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Maps<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" th:href="@{/secure/maps/clients}">Clients Map</a></li>
                        <li><a href="#" th:href="@{/secure/maps/aps}">APs Map</a></li>
                    </ul>
                </li>
                <!--<li th:class="${classActiveSettingsMap}"><a href="#" th:href="@{/secure/map}">Map</a></li>-->
                <li sec:authorize="hasRole('ADMIN')" th:class="${classActiveSettingsConfig}" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Configuration<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li sec:authorize="hasRole('ADMIN')"><a href="#" th:href="@{/admin/subnets}">Subnets</a></li>
                        <li sec:authorize="hasRole('ADMIN')"><a href="#" th:href="@{/admin/accesspoints}">Access Points</a></li>
                        <li sec:authorize="hasRole('ADMIN')"><a href="#" th:href="@{/admin/users}">Users</a></li>
                        <li sec:authorize="hasRole('ADMIN')"><a href="#" th:href="@{/admin/options}">Other Options</a></li>
                    </ul>
                </li>
                <li sec:authorize="hasRole('ADMIN')" th:class="${classActiveSettingsGuide}"><a href="#" th:href="@{/secure/guide}">Guide</a></li>
                <li th:class="${classActiveSettingsHelp}"><a href="#" th:href="@{/secure/help}">Help</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="pull-right">
                    <a th:title="Logout" href="/logout" th:href="@{/logout}"><span sec:authentication="name"></span>&nbsp;<span class="glyphicon glyphicon-log-out"></span></a>
                </li>
            </ul>


        </div>
        </div>
    </div>
