<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Change Password</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"/>
  <link href="../../static/css/headerCss.css" rel="stylesheet" />
  <link href="../../static/css/footerCss.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <style>
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0,0.4);
    }

    .modal-content {
      background-color: #fefefe;
      margin: 15% auto;
      border: 1px solid #888;
      width: 60%;
    }

    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  </style>
</head>

<body onload="changeModalDisplay()">

<div th:replace="~{fragments/header :: header}">
</div>

<div class="container" style="padding-top: 10ex; padding-bottom: 10ex;">

  <div  class="modal" id="successMessageModal" >
    <div class="modal-content">
      <div class="modal-header" style="background-color: lightgrey"><h4>Password Changed</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p style="color:green">Your password changed successfully!</p>
      </div>
      <div class="modal-footer" style="background-color: lightgrey"><a href="#" th:href="@{/admin/users}" class="btn btn-primary">Ok</a></div>
    </div>
  </div>

  <form role="form" class="form-horizontal" action="#" th:action="@{'/admin/user/changePassword'}" th:object="${userChangePasswordModel}"
        method="post">
    <div class="card">
      <div class="card-header"><h4>Change Password (<span style="color: #ff0000">*</span> denotes required field)</h4></div>
      <div class="card-body">
        <div class="form-group" th:classappend="${#fields.hasErrors('oldPassword')}? 'has-error'">
          <label class="control-label col-sm-2" for="oldPassword">Current password<span style="color: #ff0000">*</span></label>
          <div class="col-sm-8">
            <input required="true" type="password" id="oldPassword" class="form-control" name="oldPassword"
                   placeholder="Enter your password"
                   th:field="*{oldPassword}"/>
          </div>
          <div class="text-danger" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}">
            Problem with password
          </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
          <label class="control-label col-sm-2" for="password">New password<span style="color: #ff0000">*</span></label>
          <div class="col-sm-8">
            <input required="true" type="password" id="password" class="form-control" name="password"
                   placeholder="Enter new password"
                   th:field="*{password}"/>
          </div>
          <div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
            Problem with password
          </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('passwordRepeated')}? 'has-error'">
          <label class="control-label col-sm-2" for="passwordRepeated">Confirm new password<span style="color: #ff0000">*</span></label>
          <div class="col-sm-8">
            <input required="true" type="password" id="passwordRepeated" class="form-control"
                   name="passwordRepeated"
                   placeholder="confirm password" th:field="*{passwordRepeated}"/>
          </div>
          <div class="text-danger" th:if="${#fields.hasErrors('passwordRepeated')}"
               th:errors="*{passwordRepeated}">Problem with confirm password
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="reset" class="btn btn-warning pull-left">Reset</button>
        <button type="submit" class="btn btn-success pull-right">Change Password</button>
        <div class="clearfix"></div>
      </div>
    </div>
  </form>
</div>
<script>
  let modal = document.getElementById("successMessageModal");
  let closeModal = document.getElementsByClassName("close")[0];

  function changeModalDisplay(){
    let modalDisplay = "[[${modalDisplay}]]";
    modal.style.display = modalDisplay;
  }

  closeModal.onclick = function() {
    modal.style.display = "none";
  }
</script>
</body>
</html>
