<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.css"/>
    <link href="../../static/css/headerCss.css" rel="stylesheet" />
    <link href="../../static/css/footerCss.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="fragments/header :: header">
</div>

<div class="container" style="padding-top: 10ex; padding-bottom: 10ex;">

    <form role="form" class="form-horizontal" action="#" th:action="@{/admin/user/create}" th:object="${userCreateModel}"
         method="post">
        <div class="card">
            <div class="card-header"><h4>Create new user (<span style="color: #ff0000">*</span> denotes required field)</h4></div>
            <div class="card-body">
                <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
                    <label class="control-label col-sm-2" for="email">User email<span style="color: #ff0000">*</span></label>
                    <div class="col-sm-8">
                        <input required="true" type="email" id="email" class="form-control" name="email"
                               placeholder="email"
                               th:field="*{email}"/>
                    </div>
                    <div class="col-lg-offset-2" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Problem with
                        email
                    </div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
                    <label class="control-label col-sm-2" for="password">User password<span style="color: #ff0000">*</span></label>
                    <div class="col-sm-8">
                        <input required="true" type="password" id="password" class="form-control" name="password"
                               placeholder="password"
                               th:field="*{password}"/>
                    </div>
                    <div class="col-lg-offset-2" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                        Problem with password
                    </div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('passwordRepeated')}? 'has-error'">
                    <label class="control-label col-sm-2" for="passwordRepeated">Confirm User password<span style="color: #ff0000">*</span></label>
                    <div class="col-sm-8">
                        <input required="true" type="password" id="passwordRepeated" class="form-control"
                               name="passwordRepeated"
                               placeholder="confirm password" th:field="*{passwordRepeated}"/>
                    </div>
                    <div class="col-lg-offset-2" th:if="${#fields.hasErrors('passwordRepeated')}"
                         th:errors="*{passwordRepeated}">Problem with confirm password
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="role">User role<span style="color: #ff0000">*</span></label>
                    <div class="col-sm-2">
                        <select id="role" class="form-control" name="role" th:field="*{role}">
                            <option th:each="state : ${T(net.geant.wifimon.model.entity.Role).values()}"
                                    th:value="${state}"
                                    th:text="${state}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="reset" class="btn btn-warning pull-left">Reset</button>
                <button type="submit" class="btn btn-success pull-right">Add</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </form>
</div>

</body>
</html>
