<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Privacy / Correlation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"/>
    <link href="../../static/css/headerCss.css" rel="stylesheet" />
    <link href="../../static/css/footerCss.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

<div th:replace="fragments/header :: header">
</div>

<div class="container" style="padding-top: 10ex; padding-bottom: 10ex;">

    <div class="card">
        <div class="card-header">
            <span><h4><strong>Privacy / Correlation</strong></h4></span>
                <a href="#" th:unless="${#lists.isEmpty(options)}" th:href="@{/admin/editOptions}" class="btn btn-success" title="Edit Visualization Options">Edit Visualization Options</a>
                <a href="#" th:unless="!${#lists.isEmpty(options)}" th:href="@{/admin/editOptions}" class="btn btn-success" title="Insert Visualization Options">Insert Visualization Options</a>
            <div class="clearfix"></div>
        </div>
        <div class="card-body">
                <table class="table table-striped table-bordered"
                       style="word-wrap: break-word; table-layout: fixed;">
                    <thead>
                    <td>User-related data (privacy)</td>
                    <td>User visualization (rights)</td>
                    <td>Correlation Method (measurement, client IP, AP MAC correlation)</td>
                    </thead>
                    <tbody>
                    <tr data-th-each="u : ${options}">
                        <td data-th-text="${u.userdata}"></td>
                        <td data-th-text="${u.uservisualoption}"></td>
                        <td data-th-text="${u.correlationmethod}"></td>
                    </tr>
                    </tbody>
                </table>

            <div th:unless="!${#lists.isEmpty(options)}" class="alert alert-warning text-center">
                <strong>Options not set</strong>
            </div>
        </div>
    </div>
</div>

</body>
</html>
