<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css"/>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="fragments/header :: header">
</div>

<div class="container" style="padding-top: 10ex; padding-bottom: 10ex;">

    <div th:unless="${#lists.isEmpty(users)}">

        <table class="table table-striped table-bordered table-condensed"
               style="word-wrap: break-word; table-layout: fixed;">
            <thead>
            <td>Email</td>
            <td>Role</td>
            </thead>
            <tbody>
            <tr data-th-each="u : ${users}">
                <td data-th-text="${u.email}"></td>
                <td data-th-text="${u.role}"></td>
            </tr>
            </tbody>
        </table>

    </div>

    <div th:unless="!${#lists.isEmpty(users)}" class="alert alert-warning text-center">
        <strong>No users found</strong>
    </div>

</div>
<div th:replace="fragments/footer :: footer">
</div>
</body>
</html>