<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.css"/>
    <link href="../../static/css/headerCss.css" rel="stylesheet" />
    <link href="../../static/css/footerCss.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="fragments/header :: header">
</div>

<div class="container" style="padding-top: 10ex; padding-bottom: 10ex;">

    <div class="card">
        <div class="card-header">
            <span ><h4><strong>Users</strong></h4></span>
                <a href="#" th:href="@{/admin/user/create}" class="btn btn-success" title="Add new user">Add New User</a>
            <div class="clearfix"></div>
        </div>
        <div class="card-body">
            <div th:unless="${#lists.isEmpty(users)}">
                <table class="table table-striped table-bordered"
                       style="word-wrap: break-word; table-layout: fixed;">
                    <thead>
                    <td>Email</td>
                    <td>Role</td>
                    <td>Remove User?</td>
                    </thead>
                    <tbody>
                    <tr data-th-each="u : ${users}">
                        <td>
                            <span th:text="${u.email}"></span>
                        </td>
                        <td data-th-text="${u.role}"></td>
                        <td>
                            <a th:href="@{'/admin/user/{id}/delete'(id = ${u.id})}"><button type="button" class="btn btn-danger">Remove</button></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:unless="!${#lists.isEmpty(users)}" class="alert alert-warning text-center">
                <strong>No users found</strong>
            </div>
        </div>
    </div>
</div>

</body>
</html>
