div.bar {
    position: relative;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(131, 197, 73, 1) 0%, rgba(68, 187, 133, 1) 50%, rgba(8, 179, 187, 1) 100%);
    height: 385px;
    top: 30px;
    width: 97%;
    left: 30px;
    border-radius: 30px;
}

a.navbar-brand {
    color: #978181;
    position: relative;
    left: 20%;
    top: 15%;
}

.card {
    width: 27em;
    left: 40%;
    height: 37em;
    border-radius: 30px;
    box-shadow: 1px 4px 13px 2px rgba(120, 97, 97, 0.3);
    bottom: 8em;

}

form {
    justify-content: center;
}

div#navbarEx1Collapse {
    background-color: #222222;
    justify-content: flex-end;
}

input.form-control {
    border-radius: 15px;
    background-color: #ffffff;
    margin-top: 30px;
    margin-bottom: 15px;
    width: 85% !important;
    border-color: #d7d0d0;
    height: 3em;
}

input.form-control::placeholder {
    color: #d7d0d0;
    opacity: 1;
}

.header-1 {
    font-family: system-ui;
    font-weight: 600;
    font-size: 2em;
}

.parg-1 {
    font-family: system-ui;
    font-size: larger;
    width: 22em;
}

.header {
    position: absolute;
    color: white;
    left: 40%;
    bottom: 12em;
    text-align: center;
}

.login-logo {
    top: 4em;
    height: 70px;
    position: relative;
    left: 4em;
}

.logo-card {
    margin-bottom: 80px;
}

button.btn {
    border-radius: 15px;
    background-color: #13bcc3;
    width: 85%;
    margin-top: 65px;
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    height: 60px;
    font-size: 90%;
    text-align: center;
}

@media only screen and (max-width: 750px) {

    div.bar {
        width: 95%;
        left: 10px;
    }

    .header {
        left: 0;
    }

    .header-1 {
        font-size: 2em;
        position: relative;
    }

    .parg-1 {
        width: 19em;
    }

    .card {
        width: 20em;
        left: 7%;
    }

    .login-logo {
        left: 0.2em;
    }

    a.navbar-brand {
        left: 8%;
    }

    .footer-copyright {
        text-align: center;
        color: #999999;
    }
}
