Package: wifimon
Version: 2.3.0
Section: misc
Priority: optional
Architecture: all
Depends: jdk (>= 1.17)
Maintainer: GEANT <wifimon-users@lists.geant.org>
Description: WiFiMon
Distribution: development
Depends: default-jre
