Package: wifimon
Version: 1.6.1
Section: misc
Priority: optional
Architecture: all
Depends: jdk (>= 1.11)
Maintainer: GEANT <wifimon-users@lists.geant.org>
Description: WiFiMon
Distribution: development
Depends: default-jre
