<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Insert/Edit Visualization Options</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css"/>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="fragments/header :: header">
</div>

<div class="container" style="padding-top: 10ex; padding-bottom: 10ex;">

    <form role="form" class="form-horizontal" action="#" th:action="@{/secure/editMapSettings}" th:object="${mapSettingsEditModel}"
          method="post">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Insert/Edit Map Zoom Settings (<span style="color: #ff0000">*</span> denotes required field)</h4></div>

            <div class="panel-body">
                <div class="form-group" th:classappend="${#fields.hasErrors('mapzoom')}? 'has-error'">
                    <label class="control-label col-sm-2" for="mapzoom">Map zoom<span style="color: #ff0000">*</span></label>
                    <div class="col-sm-3">
                        <input required="true" type="number" id="mapzoom" class="form-control" name="mapzoom"
                               placeholder="Integer between 0 and 22" min="0" max="22" step="1"
                               th:field="*{mapzoom}"/>
                    </div>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('maplatitude')}? 'has-error'">
                    <label class="control-label col-sm-2" for="maplatitude">Center latitude<span style="color: #ff0000">*</span></label>
                    <div class="col-sm-3">
                        <input required="true" type="text" id="maplatitude" class="form-control" name="maplatitude"
                               placeholder="Map center latitude"
                               th:field="*{maplatitude}"/>
                    </div>
                    <div class="col-lg-offset-2" th:if="${#fields.hasErrors('maplatitude')}" th:errors="*{maplatitude}">
                        Problem with map center latitude
                    </div>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('maplongitude')}? 'has-error'">
                    <label class="control-label col-sm-2" for="maplongitude">Center longitude<span style="color: #ff0000">*</span></label>
                    <div class="col-sm-3">
                        <input required="true" type="text" id="maplongitude" class="form-control" name="maplongitude"
                               placeholder="Map center longitude"
                               th:field="*{maplongitude}"/>
                    </div>
                    <div class="col-lg-offset-2" th:if="${#fields.hasErrors('maplongitude')}" th:errors="*{maplongitude}">
                        Problem with map center longitude
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button type="reset" class="btn btn-warning pull-left">Reset</button>
                <button type="submit" class="btn btn-success pull-right">Save</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </form>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>