<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Monitoring Results</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css"/>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="fragments/header :: header">
</div>

<div class="container" style="padding-top: 10ex; padding-bottom: 10ex;">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Monitoring results</h4>
        </div>
        <div class="panel-body">

            <div th:if="!${#lists.isEmpty(measurements)}">
                <table class="table table-striped table-bordered table-condensed"
                       style="word-wrap: break-word; table-layout: fixed;">
                    <thead>
                    <td>Id</td>
                    <td>Test Date/Time (UTC)</td>
                    <td>Start Time (UTC)</td>
                    <td th:if="${userdataview}">Username</td>
                    <td th:if="${selectUnitsMBps}">Download Rate (MBps)</td>
                    <td th:if="${selectUnitsMbps}">Download Rate (Mbps)</td>
                    <td th:if="${selectUnitsKBps}">Download Rate (KBps)</td>
                    <td th:if="${selectUnitsKbps}">Download Rate (Kbps)</td>
                    <td th:if="${selectUnitsMBps}">Upload Rate (MBps)</td>
                    <td th:if="${selectUnitsMbps}">Upload Rate (Mbps)</td>
                    <td th:if="${selectUnitsKBps}">Upload Rate (KBps)</td>
                    <td th:if="${selectUnitsKbps}">Upload Rate (Kbps)</td>
                    <td>Ping (ms)</td>
                    <td>Client IP Address</td>
                    <td th:if="${userdataview}">Client IP (Logs)</td>
                    <td th:if="${userdataview}">Client MAC Address</td>
                    <td>AP IP Address</td>
                    <td>AP MAC Address</td>
                    <td>NAS Port Type</td>
                    <td>Tool</td>
                    <td th:if="${userdataview}">User Agent</td>
                    </thead>
                    <tbody>
                    <tr data-th-each="m : ${measurements}">
                        <td data-th-text="${m.id}"></td>
                        <td data-th-text="${m.date}"></td>
                        <td data-th-text="${m.startTime}">...</td>
                        <td th:if="${userdataview}" data-th-text="${m.username}">...</td>
                        <td th:if="${selectUnitsMBps}" data-th-text="${#numbers.formatDecimal(m.downloadRate / 1000,1,1,'POINT')}"></td>
                        <td th:if="${selectUnitsMbps}" data-th-text="${#numbers.formatDecimal(m.downloadRate * 8 /1000,1,1,'POINT')}"></td>
                        <td th:if="${selectUnitsKBps}" data-th-text="${#numbers.formatDecimal(m.downloadRate,1,1,'POINT')}"></td>
                        <td th:if="${selectUnitsKbps}" data-th-text="${#numbers.formatDecimal(m.downloadRate * 8,1,1,'POINT')}"></td>
                        <td th:if="${selectUnitsMBps}" data-th-text="${#numbers.formatDecimal(m.uploadRate / 1000,1,1,'POINT')}"></td>
                        <td th:if="${selectUnitsMbps}" data-th-text="${#numbers.formatDecimal(m.uploadRate * 8 /1000,1,1,'POINT')}"></td>
                        <td th:if="${selectUnitsKBps}" data-th-text="${#numbers.formatDecimal(m.uploadRate,1,1,'POINT')}"></td>
                        <td th:if="${selectUnitsKbps}" data-th-text="${#numbers.formatDecimal(m.uploadRate * 8,1,1,'POINT')}"></td>
                        <td data-th-text="${#numbers.formatDecimal(m.localPing,1,1,'POINT')}"></td>
                        <td data-th-text="${m.clientIp}">...</td>
                        <td th:if="${userdataview}" data-th-text="${m.framedIpAddress}">...</td>
                        <td th:if="${userdataview}" data-th-text="${m.callingStationId}">...</td>
                        <td data-th-text="${m.nasIpAddress}">...</td>
                        <td data-th-text="${m.calledStationId}">...</td>
                        <td data-th-text="${m.nasPortType}">...</td>
                        <td data-th-text="${m.testTool}">...</td>
                        <td th:if="${userdataview}" data-th-text="${m.userAgent}">...</td>
                    </tr>
                    </tbody>
                </table>

                <ul class="pagination pull-right">
                    <li th:class="${page le 0} ? disabled"><a href="generic?move=back">&larr; Previous</a></li>
                    <li class="disabled"><a href="#">
                        <span data-th-text="${page + 1}"/> of
                        <span data-th-text="${totalPages}"/>
                    </a></li>
                    <li th:class="${page ge totalPages - 1} ? disabled"><a href="generic?move=front">Next &rarr;</a>
                    </li>
                </ul>
            </div>

            <div th:if="${#lists.isEmpty(measurements)}" class="alert alert-warning text-center">
                <strong>No Monitoring results</strong>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer">
</div>
</body>
</html>