<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Guide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css"/>
    <link href="../../static/css/styling.css" rel="stylesheet" />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="fragments/header :: header">
</div>

<div class="container" style="padding-top: 10ex; padding-bottom: 10ex;">
    <h3>Available performance tests</h3>
    <br/>
    <!--<h4>NetTest (if your website already includes the jquery.min.js skip the first line)</h4>
    <p><i><code>
        &lt;script type="text/javascript" src="https://vm3-gn3-sa2t5.vm.grnet.gr/wifimon/js/nettest/jquery-1.11.2.min.js"&gt;&lt;/script&gt;<br/>
        &lt;script type="text/javascript" src="https://vm3-gn3-sa2t5.vm.grnet.gr/wifimon/js/nettest/nettest-swfobject.js"&gt;&lt;/script&gt;<br/>
        &lt;script type="text/javascript" src="https://www.google.com/jsapi"&gt;&lt;/script&gt;<br/>
        &lt;script type="text/javascript" id="settings" agentIp="<span style="color:blue">xxx.xxx.xxx.xxx</span>" testtool="NetTest" imagesLocation="" cookieTimeInMinutes="" <br/>
        &nbsp;&nbsp;&nbsp;&nbsp;src="https://vm3-gn3-sa2t5.vm.grnet.gr/wifimon/js/nettest/runtests.js" defer&gt;&lt;/script&gt;<br/>
    </code></i></p>
    <br/>
    <h4>boomerang (if your website already includes the jquery.min.js skip the first line)</h4>
    <p><i><code>
        &lt;script type="text/javascript" src="https://vm3-gn3-sa2t5.vm.grnet.gr/wifimon/js/boomerang/jquery-1.11.2.min.js"&gt;&lt;/script&gt;<br/>
        &lt;script type="text/javascript" src="https://www.google.com/jsapi"&gt;&lt;/script&gt;<br/>
        &lt;script type="text/javascript" src="https://vm3-gn3-sa2t5.vm.grnet.gr/wifimon/js/boomerang/boomerang.js"&gt;&lt;/script&gt;<br/>
        &lt;script type="text/javascript" src="https://vm3-gn3-sa2t5.vm.grnet.gr/wifimon/js/boomerang/bw.js"&gt;&lt;/script&gt;<br/>
        &lt;script type="text/javascript" src="https://vm3-gn3-sa2t5.vm.grnet.gr/wifimon/js/boomerang/rt.js"&gt;&lt;/script&gt;<br/>
        &lt;script type="text/javascript" id="settings" agentIp="<span style="color:blue">xxx.xxx.xxx.xxx</span>" testtool="boomerang" imagesLocation="" cookieTimeInMinutes="" <br/>
        &nbsp;&nbsp;&nbsp;&nbsp;src="https://vm3-gn3-sa2t5.vm.grnet.gr/wifimon/js/boomerang/boomerang-trigger.js" defer&gt;&lt;/script&gt;<br/>
    </code></i></p>
    <br/>
    <h4>speedtest/HTML5 (if your website already includes the jquery.min.js skip the first line)</h4>
    <p>Create the following proxy html page:</p>
    <p><i><code>
        &lt;!DOCTYPE html&gt;<br/>
        &lt;html&gt;<br/>
        &lt;head&gt;<br/>
            &lt;title&gt;Speed worker&lt;/title&gt;<br/>
            &lt;script type="text/javascript" src="https://vm3-gn3-sa2t5.vm.grnet.gr/wifimon/js/speedtest/jquery-1.11.2.min.js"&gt;&lt;/script&gt;<br/>
            &lt;script type="text/javascript" src="https://www.google.com/jsapi"&gt;&lt;/script&gt;<br/>
            &lt;script type="text/javascript" id="settings" agentIp="<span style="color:blue">xxx.xxx.xxx.xxx</span>" testtool="speedtest" cookieTimeInMinutes="" <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;src="https://vm3-gn3-sa2t5.vm.grnet.gr/wifimon/js/speedtest/speedworker-post.js"&gt;&lt;/script&gt;<br/>
        &lt;/head&gt;<br/>
        &lt;body&gt;<br/>
        &lt;/body&gt;<br/>
        &lt;/html&gt;<br/>
    </code></i></p>
    and embed the proxy html page in your website pages
    <p><i><code>
        &lt;iframe src="<span style="color:blue">path to proxy html page</span>" style="visibility: hidden;"&gt;&lt;/iframe&gt;
    </code></i></p>-->
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">NetTest</a>
                        </h4>
                    </div>
                    <div class="col-sm-6" align="right">
                        <a href="https://code.google.com/archive/p/nettest/" target="_blank">source code / documentation page</a>
                    </div>
                </div>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <strong>Scripts to embed in your website</strong><br/>
                    <i><code>
                        &lt;script type="text/javascript" src="https://wifimon.switch.ch/wifimon/js/nettest/jquery-1.11.2.min.js"&gt;&lt;/script&gt;<br/>
                        &lt;script type="text/javascript" src="https://wifimon.switch.ch/wifimon/js/nettest/nettest-swfobject.js"&gt;&lt;/script&gt;<br/>
                        &lt;script type="text/javascript" src="https://wifimon.switch.ch/jsapi"&gt;&lt;/script&gt;<br/>
                        &lt;script type="text/javascript" id="settings" agentIp="<span style="color:blue">xxx.xxx.xxx.xxx</span>" testtool="NetTest" imagesLocation="" cookieTimeInMinutes="" <br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;src="https://wifimon.switch.ch/wifimon/js/nettest/runtests.js" defer&gt;&lt;/script&gt;<br/>
                    </code></i>
                    <br/>
                    <strong>Changes</strong>
                    <ul>
                        <li><var>agentIp (required)</var>: Replace "<i><code><span style="color:blue">xxx.xxx.xxx.xxx</span></code></i>"
                            with the IP address (or domain name) of the server where the WiFiMon agent is installed</li>
                        <li><var>imagesLocation</var>: Public link to the folder where the images are downloaded to
                            perform the nettest measurements. Please, see also the second note below.</li>
                        <li><var>cookieTimeInMinutes (optional)</var>: Duration time (in minutes) to set the cookie in order to prevent
                            repeated measurements. If empty, "1.5" is assumed</li>
                    </ul>
                    <br/>
                    <strong>Notes</strong>
                    <ul>
                        <li>If your website already includes the <var>jquery.min.js</var>, you have to delete the first line</li>
                        <li>With the above javascript lines, the images (that NetTest is using) and scripts are downloaded from
                            our Apache Server, which is located in Zurich, Switzerland.
                            Therefore, the download/upload rates and RTT will be relative to this Server. For more
                            accurate results you can setup your Apache Server to host the images and scripts
                            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-info-sign"></span></button></li>
                        <li>If the above scripts are to be embedded only to http websites the <var>hostingWebsite="http"</var> attribute can be added at the last script
                            (i.e. <i><code>... id="settings" <strong><span style="color:blue">hostingWebsite="http"</span></strong> agentIp="xxx.xxx.xxx.xxx" ...</code></i>).
                            This will direct the measurements to the agent running on port 9000 (http).</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">boomerang</a>
                        </h4>
                    </div>
                    <div class="col-sm-6" align="right">
                        <a href="https://soasta.github.io/boomerang/doc/" target="_blank">source code / documentation page</a>
                    </div>
                </div>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <strong>Scripts to embed in your website</strong><br/>
                    <i><code>
                        &lt;script type="text/javascript" src="https://wifimon.switch.ch/wifimon/js/boomerang/jquery-1.11.2.min.js"&gt;&lt;/script&gt;<br/>
                        &lt;script type="text/javascript" src="https://www.google.com/jsapi"&gt;&lt;/script&gt;<br/>
                        &lt;script type="text/javascript" src="https://wifimon.switch.ch/wifimon/js/boomerang/boomerang.js"&gt;&lt;/script&gt;<br/>
                        &lt;script type="text/javascript" src="https://wifimon.switch.ch/wifimon/js/boomerang/bw.js"&gt;&lt;/script&gt;<br/>
                        &lt;script type="text/javascript" src="https://wifimon.switch.ch/wifimon/js/boomerang/rt.js"&gt;&lt;/script&gt;<br/>
                        &lt;script type="text/javascript" id="settings" agentIp="<span style="color:blue">xxx.xxx.xxx.xxx</span>" testtool="boomerang" imagesLocation="" cookieTimeInMinutes="" <br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;src="https://wifimon.switch.ch/wifimon/js/boomerang/boomerang-trigger.js" defer&gt;&lt;/script&gt;<br/>
                    </code></i>
                    <br/>
                    <strong>Changes</strong>
                    <ul>
                        <li><var>agentIp (required)</var>: Replace "<i><code><span style="color:blue">xxx.xxx.xxx.xxx</span></code></i>" with the IP
                            address (or domain name) of the server where the WiFiMon agent is installed</li>
                        <li><var>imagesLocation</var>: Public link to the folder where the images are downloaded to perform the
                            boomerang measurements. Please, see also the second note below.</li>
                        <li><var>cookieTimeInMinutes (optional)</var>: Duration time (in minutes) to set the cookie in order to prevent
                            repeated measurements. If empty, "1.5" is assumed</li>
                    </ul>
                    <br/>
                    <strong>Notes</strong>
                    <ul>
                        <li>If your website already includes the <var>jquery.min.js</var>, you have to delete the first line</li>
                        <li>With the above javascript lines, the images (that boomerang is using) and scripts are downloaded from our Apache Server,
                            which is located in Zurich, Switzerland. Therefore, the download/upload rates and RTT will be relative to this Server. For more
                            accurate results you can setup your Apache Server to host the images and scripts
                            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal2"><span class="glyphicon glyphicon-info-sign"></span></button></li>
                        <li>If the above scripts are to be embedded only to http websites the <var>hostingWebsite="http"</var> attribute can be added at the last script (i.e. <i><code>... id="settings" <strong><span style="color:blue">hostingWebsite="http"</span></strong> agentIp="xxx.xxx.xxx.xxx" ...</code></i>). This will direct the measurements to the agent running on port 9000 (http).</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">speedtest/HTML5</a>
                        </h4>
                    </div>
                    <div class="col-sm-6" align="right">
                            <a href="https://github.com/adolfintel/speedtest" target="_blank">source code / documentation page</a>
                    </div>
                </div>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <strong>Embed proxy html page in your website</strong><br/>
                    <p>Step 1: Create the following proxy html page (if your website already includes the jquery.min.js skip the first script):</p>
                    <p><i><code>
                        &lt;!DOCTYPE html&gt;<br/>
                        &lt;html&gt;<br/>
                        &lt;head&gt;<br/>
                        &lt;title&gt;Speed worker&lt;/title&gt;<br/>
                        &lt;script type="text/javascript" src="https://wifimon.switch.ch/wifimon/js/speedtest/jquery-1.11.2.min.js"&gt;&lt;/script&gt;<br/>
                        &lt;script type="text/javascript" src="https://www.google.com/jsapi"&gt;&lt;/script&gt;<br/>
                        &lt;script type="text/javascript" id="settings" agentIp="<span style="color:blue">xxx.xxx.xxx.xxx</span>" testtool="speedtest" cookieTimeInMinutes="" <br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;src="https://wifimon.switch.ch/wifimon/js/speedtest/speedworker-post.js"&gt;&lt;/script&gt;<br/>
                        &lt;/head&gt;<br/>
                        &lt;body&gt;<br/>
                        &lt;/body&gt;<br/>
                        &lt;/html&gt;<br/>
                    </code></i></p>
                    <p>Step 2: Embed the proxy html page in your website pages</p>
                    <p><i><code>
                        &lt;iframe src="<span style="color:blue">path to proxy html page</span>" style="visibility: hidden;"&gt;&lt;/iframe&gt;
                    </code></i></p>
                    <br/>
                    <strong>Changes</strong>
                    <ul>
                        <li><var>agentIp (required)</var>: Replace "<i><code><span style="color:blue">xxx.xxx.xxx.xxx</span></code></i>" with the IP
                            address (or domain name) of the server where the WiFiMon agent is installed</li>
                        <li><var>cookieTimeInMinutes (optional)</var>: Duration time (in minutes) to set the cookie in order to prevent
                            repeated measurements. If empty, "1.5" is assumed</li>
                    </ul>
                    <br/>
                    <strong>Notes</strong>
                    <ul>
                        <li>If your website already includes the <var>jquery.min.js</var>, you have to delete the first script from your proxy html page</li>
                        <li>With the above configuration, the download/upload rates and RTT will be relative to our server, located in Zurich, Switzerland. For more
                            accurate results you can setup your Apache Server to host the necessary files to run speedtest/HTML5
                            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal3"><span class="glyphicon glyphicon-info-sign"></span></button></li>
                        <li>If the above scripts are to be embedded only to http websites the <var>hostingWebsite="http"</var> attribute can be added at the last script (i.e. <i><code>... id="settings" <strong><span style="color:blue">hostingWebsite="http"</span></strong> agentIp="xxx.xxx.xxx.xxx" ...</code></i>). This will direct the measurements to the agent running on port 9000 (http).</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--<br/>
    <h4>Changes</h4>
    <ul>
        <li><strong><var>agentIp (required)</var>:</strong> Replace "xxx.xxx.xxx.xxx" with IP address (or domain name) of the server where the Java agent is installed</li>
        <li><strong><var>imagesLocation (optional)</var>:</strong> Public link to the folder where the images are downloaded to perform the nettest measurements. If empty, "https://vm3-gn3-sa2t5.vm.grnet.gr/wifimon/images/" is assumed</li>
        <li><strong><var>cookieTimeInMinutes (optional)</var>:</strong> Duration time (in minutes) to set the cookie in order to prevent repeated measuremetns. If empty, "1.5" is assumed</li>
    </ul>
    <br/>
    <p><strong>Note 1: </strong>With the above javascript lines, the images and scripts are downloaded from our Apache Server.
        Therefore, the Download/Upload Rates and RTT will be relative to this Server. For more
        accurate results you can setup your Apache Server to host the images and scripts <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-info-sign"></span></button></p>
    <p><strong>Note 2: </strong>If the above scripts are to be embedded only to http websites the <strong><var>hostingWebsite="http"</var></strong> attribute can be added at the last script (i.e. <i><code>... id="settings" <strong>hostingWebsite="http"</strong> agentIp="xxx.xxx.xxx.xxx" ...</code></i>). This will direct the measurements to the agent running on port 9000 (http).</p>-->
</div>

<!-- Modal -->
<div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Apache Server Installation and Configuration</h4>
            </div>
            <div class="modal-body">
                <p class="text-muted">--------- Install Apache2 with PHP5 ---------</p>
                <p class="text-primary"><i><code>
                    sudo apt-get install apache2<br/>
                    sudo apt-get install php5<br/>
                    sudo apt-get install libapache2-mod-php5<br/>
                    sudo /etc/init.d/apache2 restart<br/>
                </code></i></p>
                <p class="text-muted">--------- Enable Apache2 mod_headers ---------</p>
                <p class="text-primary"><i><code>
                    a2enmod headers<br/>
                    service apache2 restart<br/>
                </code></i></p>
                <p class="text-muted">--------- Enable CORS ---------</p>
                <p>Add the following lines in the apache2.conf file and restart Apache2</p>
                <p class="text-primary"><i><code>
                    &lt;Files ~ "\.(htm|html|css|dat|js|php|gif|jpg|png|swf)$"&gt;<br/>
                    &nbsp;&nbsp;Header always set Access-Control-Allow-Origin "*"<br/>
                    &nbsp;&nbsp;Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE,<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;PUT"<br/>
                    &nbsp;&nbsp;Header always set Access-Control-Max-Age "1000"<br/>
                    &nbsp;&nbsp;Header always set Access-Control-Allow-Headers "x-requested-with, <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;Content-Type, origin, authorization, accept, client-security-token"<br/>
                    &lt;/Files&gt;
                </code></i></p>
                <p class="text-muted">--------- Scripts and images ---------</p>
                <p>Download a .zip file with the images and scripts for NetTest from
                    <a href="https://vm3-gn3-sa2t5.vm.grnet.gr/wifimon/downloads/wifimon-nettest.zip" target="_blank">here</a>, or the .zip file
                    containing the necessary files for all available tests (NetTest, boomerang, speedtest/HTML5) from
                    <a href="https://vm3-gn3-sa2t5.vm.grnet.gr/wifimon/downloads/wifimon.zip" target="_blank">here</a>.<br/>
                    Unzip the content inside the root directory of Apache2 and make the following changes:</p>
                <ul>
                    <li><strong>wifimon/js/nettest/nettest-swfobject.js:</strong> Change the <i>NetTest.FlashPath</i> (line 22) with the public
                        link to nettest.swf
                    </li>
                    <li>Embed in your website the scripts provided, after specifying the new URL in their <i>src</i> attribute
                        and <i>imagesLocation</i> attribute
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Apache Server Installation and Configuration</h4>
            </div>
            <div class="modal-body">
                <p class="text-muted">--------- Install Apache2 with PHP5 ---------</p>
                <p class="text-primary"><i><code>
                    sudo apt-get install apache2<br/>
                    sudo apt-get install php5<br/>
                    sudo apt-get install libapache2-mod-php5<br/>
                    sudo /etc/init.d/apache2 restart<br/>
                </code></i></p>
                <p class="text-muted">--------- Enable Apache2 mod_headers ---------</p>
                <p class="text-primary"><i><code>
                    a2enmod headers<br/>
                    service apache2 restart<br/>
                </code></i></p>
                <p class="text-muted">--------- Enable CORS ---------</p>
                <p>Add the following lines in the apache2.conf file and restart Apache2</p>
                <p class="text-primary"><i><code>
                    &lt;Files ~ "\.(htm|html|css|dat|js|php|gif|jpg|png|swf)$"&gt;<br/>
                    &nbsp;&nbsp;Header always set Access-Control-Allow-Origin "*"<br/>
                    &nbsp;&nbsp;Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE,<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;PUT"<br/>
                    &nbsp;&nbsp;Header always set Access-Control-Max-Age "1000"<br/>
                    &nbsp;&nbsp;Header always set Access-Control-Allow-Headers "x-requested-with, <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;Content-Type, origin, authorization, accept, client-security-token"<br/>
                    &lt;/Files&gt;
                </code></i></p>
                <p class="text-muted">--------- Scripts and images ---------</p>
                <p>Download a .zip file with the images and scripts for boomerang from
                    <a href="https://vm3-gn3-sa2t5.vm.grnet.gr/wifimon/downloads/wifimon-boomerang.zip" target="_blank">here</a>, or the .zip file
                    containing the necessary files for all available tests (NetTest, boomerang, speedtest/HTML5) from
                    <a href="https://vm3-gn3-sa2t5.vm.grnet.gr/wifimon/downloads/wifimon.zip" target="_blank">here</a>.<br/>
                    Unzip the content inside the root directory of Apache2 and make the following change:</p>
                <ul>
                    <li>Embed in your website the scripts provided, after specifying the new URL in their <i>src</i>
                        attribute and <i>imagesLocation</i> attribute
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Apache Server Installation and Configuration</h4>
            </div>
            <div class="modal-body">
                <p class="text-muted">--------- Install Apache2 with PHP5 ---------</p>
                <p class="text-primary"><i><code>
                    sudo apt-get install apache2<br/>
                    sudo apt-get install php5<br/>
                    sudo apt-get install libapache2-mod-php5<br/>
                    sudo /etc/init.d/apache2 restart<br/>
                </code></i></p>
                <p class="text-muted">--------- Enable Apache2 mod_headers ---------</p>
                <p class="text-primary"><i><code>
                    a2enmod headers<br/>
                    service apache2 restart<br/>
                </code></i></p>
                <p class="text-muted">--------- Enable CORS ---------</p>
                <p>Add the following lines in the apache2.conf file and restart Apache2</p>
                <p class="text-primary"><i><code>
                    &lt;Files ~ "\.(htm|html|css|dat|js|php|gif|jpg|png|swf)$"&gt;<br/>
                    &nbsp;&nbsp;Header always set Access-Control-Allow-Origin "*"<br/>
                    &nbsp;&nbsp;Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE,<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;PUT"<br/>
                    &nbsp;&nbsp;Header always set Access-Control-Max-Age "1000"<br/>
                    &nbsp;&nbsp;Header always set Access-Control-Allow-Headers "x-requested-with, <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;Content-Type, origin, authorization, accept, client-security-token"<br/>
                    &lt;/Files&gt;
                </code></i></p>
                <p class="text-muted">--------- Scripts and files ---------</p>
                <p>Download a .zip file with the scripts (and proxy html page) for speedtest/HTML5 from
                    <a href="https://vm3-gn3-sa2t5.vm.grnet.gr/wifimon/downloads/wifimon-speedtest.zip" target="_blank">here</a>, or the .zip file
                    containing the necessary files for all available tests (NetTest, boomerang, speedtest/HTML5) from
                    <a href="https://vm3-gn3-sa2t5.vm.grnet.gr/wifimon/downloads/wifimon.zip" target="_blank">here</a>.<br/>
                    Unzip the content inside the root directory of Apache2 and make the following changes:</p>
                <ul>
                    <li>If you have not created a proxy html page you may use <i>proxy.html</i> (in folder <i>wifimon\js\speedtest</i>) as the proxy html page.
                        If this is the case, you will have to replace "<i><code><span style="color:blue">xxx.xxx.xxx.xxx</span></code></i>"
                        in the <var>agentIp</var> attribute, with the IP address (or domain name) of the server where the WiFiMon agent is installed. You will also
                        have to specify the new URLs for the scripts by changing their <i>src</i> attribute
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

<div th:replace="fragments/footer :: footer">
</div>
</body>
</html>
