<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Guide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.css"/>
    <link href="../../static/css/headerCss.css" rel="stylesheet" />
    <link href="../../static/css/footerCss.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

<br>
<div th:replace="fragments/header :: header">
</div>

<div class="container-fluid guide-1">
    <h3><b>Available Performance Tests</b></h3>
</div>

<br><br>
<div class="container-fluid guide-2">
<h4><b>You may find the WiFiMon implementation guides <a href="https://wiki.geant.org/display/WIF/WiFiMon+User+Documentation">HERE</a></b></h4>
</div>

<div id="accordion" class="guide-accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <b>NetTest</b>
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
                <strong>Scripts to embed in your website</strong><br/>
                <i><code>
                    &lt;script type="text/javascript" src="https://WTS_FQDN/wifimon/js/nettest/jquery-3.5.1.min.js"&gt;&lt;/script&gt;<br/>
                    &lt;script type="text/javascript" src="https://WTS_FQDN/wifimon/js/nettest/nettest-swfobject.js"&gt;&lt;/script&gt;<br/>
                    &lt;script type="text/javascript" src="https://WTS_FQDN/jsapi"&gt;&lt;/script&gt;<br/>
                    &lt;script type="text/javascript" id="settings" agentIp="<span style="color:blue">xxx.xxx.xxx.xxx</span>" testtool="NetTest" testServerLocation="LOCATION" imagesLocation="" cookieTimeInMinutes="" <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;src="https://WTS_FQDN/wifimon/js/nettest/runtests.js" defer&gt;&lt;/script&gt;<br/>
                </code></i>
                <br/>
                <strong>Changes</strong>
                <ul>
                    <li><var>agentIp (required)</var>: Replace "<i><code><span style="color:blue">xxx.xxx.xxx.xxx</span></code></i>"
                        with the IP address (or domain name) of the server where the WiFiMon agent is installed</li>
                    <li><var>imagesLocation</var>: Public link to the folder where the images are downloaded to
                        perform the nettest measurements. Please, see also the second note below.</li>
                    <li><var>cookieTimeInMinutes (optional)</var>: Duration time (in minutes) to set the cookie in order to prevent
                        repeated measurements. If empty, "1.5" is assumed</li>
                </ul>
                <br/>
                <strong>Notes</strong>
                <ul>
                    <li>If your website already includes the <var>jquery.min.js</var>, you have to delete the first line</li>
                    <li>If the above scripts are to be embedded only to http websites the <var>hostingWebsite="http"</var> attribute can be added at the last script
                        (i.e. <i><code>... id="settings" <strong><span style="color:blue">hostingWebsite="http"</span></strong> agentIp="xxx.xxx.xxx.xxx" ...</code></i>).
                        This will direct the measurements to the agent running on port 9000 (http).</li>
                </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <b>Boomerang</b>
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
                <strong>Scripts to embed in your website</strong><br/>
                <i><code>
                    &lt;script type="text/javascript" src="https://WTS_FQDN/wifimon/js/boomerang/jquery-3.5.1.min.js"&gt;&lt;/script&gt;<br/>
                    &lt;script type="text/javascript" src="https://www.google.com/jsapi"&gt;&lt;/script&gt;<br/>
                    &lt;script type="text/javascript" src="https://WTS_FQDN/wifimon/js/boomerang/boomerang.js"&gt;&lt;/script&gt;<br/>
                    &lt;script type="text/javascript" src="https://WTS_FQDN/wifimon/js/boomerang/bw.js"&gt;&lt;/script&gt;<br/>
                    &lt;script type="text/javascript" src="https://WTS_FQDN/wifimon/js/boomerang/rt.js"&gt;&lt;/script&gt;<br/>
                    &lt;script type="text/javascript" id="settings" agentIp="<span style="color:blue">xxx.xxx.xxx.xxx</span>" testtool="boomerang" testServerLocation="LOCATION" imagesLocation="" cookieTimeInMinutes="" <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;src="https://WTS_FQDN/wifimon/js/boomerang/boomerang-trigger.js" defer&gt;&lt;/script&gt;<br/>
                </code></i>
                <br/>
                <strong>Changes</strong>
                <ul>
                    <li><var>agentIp (required)</var>: Replace "<i><code><span style="color:blue">xxx.xxx.xxx.xxx</span></code></i>" with the IP
                        address (or domain name) of the server where the WiFiMon agent is installed</li>
                    <li><var>imagesLocation</var>: Public link to the folder where the images are downloaded to perform the
                        boomerang measurements. Please, see also the second note below.</li>
                    <li><var>cookieTimeInMinutes (optional)</var>: Duration time (in minutes) to set the cookie in order to prevent
                        repeated measurements. If empty, "1.5" is assumed</li>
                </ul>
                <br/>
                <strong>Notes</strong>
                <ul>
                    <li>If your website already includes the <var>jquery.min.js</var>, you have to delete the first line</li>
                    <li>If the above scripts are to be embedded only to http websites the <var>hostingWebsite="http"</var> attribute can be added at the last script (i.e. <i><code>... id="settings" <strong><span style="color:blue">hostingWebsite="http"</span></strong> agentIp="xxx.xxx.xxx.xxx" ...</code></i>). This will direct the measurements to the agent running on port 9000 (http).</li>
                </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <b>Speedtest</b>
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
                <strong>Embed proxy html page in your website</strong><br/>
                <p>Step 1: Create the following proxy html page (if your website already includes the jquery.min.js skip the first script):</p>
                <p><i><code>
                    &lt;!DOCTYPE html&gt;<br/>
                    &lt;html&gt;<br/>
                    &lt;head&gt;<br/>
                    &lt;title&gt;Speed worker&lt;/title&gt;<br/>
                    &lt;script type="text/javascript" src="https://WTS_FQDN/wifimon/js/speedtest/jquery-3.5.1.min.js"&gt;&lt;/script&gt;<br/>
                    &lt;script type="text/javascript" src="https://www.google.com/jsapi"&gt;&lt;/script&gt;<br/>
                    &lt;script type="text/javascript" id="settings" agentIp="<span style="color:blue">xxx.xxx.xxx.xxx</span>" testtool="speedtest" testServerLocation="LOCATION" cookieTimeInMinutes="" <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;src="https://WTS_FQDN/wifimon/js/speedtest/speedworker-post.js"&gt;&lt;/script&gt;<br/>
                    &lt;/head&gt;<br/>
                    &lt;body&gt;<br/>
                    &lt;/body&gt;<br/>
                    &lt;/html&gt;<br/>
                </code></i></p>
                <p>Step 2: Embed the proxy html page in your website pages</p>
                <p><i><code>
                    &lt;iframe src="<span style="color:blue">path to proxy html page</span>" style="visibility: hidden;"&gt;&lt;/iframe&gt;
                </code></i></p>
                <br/>
                <strong>Changes</strong>
                <ul>
                    <li><var>agentIp (required)</var>: Replace "<i><code><span style="color:blue">xxx.xxx.xxx.xxx</span></code></i>" with the IP
                        address (or domain name) of the server where the WiFiMon agent is installed</li>
                    <li><var>cookieTimeInMinutes (optional)</var>: Duration time (in minutes) to set the cookie in order to prevent
                        repeated measurements. If empty, "1.5" is assumed</li>
                </ul>
                <br/>
                <strong>Notes</strong>
                <ul>
                    <li>If your website already includes the <var>jquery.min.js</var>, you have to delete the first script from your proxy html page</li>
                    <li>If the above scripts are to be embedded only to http websites the <var>hostingWebsite="http"</var> attribute can be added at the last script (i.e. <i><code>... id="settings" <strong><span style="color:blue">hostingWebsite="http"</span></strong> agentIp="xxx.xxx.xxx.xxx" ...</code></i>). This will direct the measurements to the agent running on port 9000 (http).</li>
                </ul>
        </div>
      </div>
    </div>
  </div>

</div>
</body>
</html>
