<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Help</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css"/>
    <link href="../../static/css/styling.css" rel="stylesheet" />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="fragments/header :: header">
</div>

<div class="container" style="padding-top: 10ex; padding-bottom: 10ex;">
    <h3>Frequently Asked Questions</h3>
    <p>You may press <a class="btn btn-default" type="button" href="https://vm3-gn3-sa2t5.vm.grnet.gr/wifimon/faq.html" target="_blank">HERE</a> for a list of the most commonly asked questions and answers.</p>

    <h3>How to get help</h3>
    <p>In case you are getting confused or you face any difficulty please press <a class="btn btn-default" type="button" href="mailto:gn4-2-sa3-t5wifimon@lists.geant.org?Subject=WiFiMon question" target="_top">HERE <span class="glyphicon glyphicon-envelope"/></a> to send an email to GN4-2 SA3T5 team mailing list.</p>

    <h4>GN4-2 SA3T5 members</h4>
    <ul>
        <li><a href="mailto:kurt.baumann@switch.ch?Subject=WiFiMon question" target="_top">Kurt Baumann</a> (SWITCH), MSc UZH in mathematics, Project Leader/Systemengineer at SWITCH and GN4-2-SA3T5 Task Leader,</li>
        <li><a href="mailto:Toby.Rodwell@geant.org?Subject=WiFiMon question" target="_top">Toby Rodwell</a> (GEANT), SA3 Activity Leader,</li>
        <li><a href="mailto:anna.wilson@heanet.ie?Subject=WiFiMon question" target="_top">Anna Wilson</a> (HEAnet), Service Desk Manager in HEAnet,</li>
        <li><a href="mailto:james.healy@dcu.ie?Subject=WiFiMon question" target="_top">James Healy</a> (DCU),  Network Manager at Dublin City University,</li>
        <li><a href="mailto:kokkinos@cti.gr?Subject=WiFiMon question" target="_top">Vasileios Kokkinos</a> (GRNET), PhD, Software Engineer,</li>
        <li><a href="mailto:stamos@cti.gr?Subject=WiFiMon question" target="_top">Kostas Stamos</a> (GRNET), PhD, Software Engineer,</li>
        <li><a href="mailto:arne.oslebo@uninett.no?Subject=WiFiMon question" target="_top">Arne Oslebo</a> (UNINETT), PhD NTNU, Project Leader/Technical Architect at UNINETT.</li>
    </ul>
</div>

<div th:replace="fragments/footer :: footer">
</div>
</body>
</html>