<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Help</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.css"/>
    <link href="../../static/css/headerCss.css" rel="stylesheet" />
    <link href="../../static/css/footerCss.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="fragments/header :: header">
</div>

<div class="container" style="padding-top: 10ex; padding-bottom: 10ex;">
    <h3><b>Frequently Asked Questions</b></h3>
    <p>You may find <a href="https://vm3-gn3-sa2t5.vm.grnet.gr/wifimon/faq.html">HERE</a> a list of the most commonly asked questions and answers regarding WiFiMon.</p>

    <h3>How to get help</h3>
    <p>In case you are getting confused or you face any difficulty please press <a href="mailto:wifimon-users@lists.geant.org?Subject=WiFiMon question">HERE</a> to send an email to GN4-3 WiFiMon team mailing list.</p>

    <h4><b>GN4-3 WiFiMon Present Members</b></h4>
    <ul>
	<li><a href="mailto:pavle.vuletic@amres.ac.rs?Subject=WiFiMon question" target="_top">Pavle Vuletic</a> (AMRES/UoB), GN4-3 WP6 T3 Leader</li>
	<li><a href="mailto:kurt.baumann@switch.ch?Subject=WiFiMon question" target="_top">Kurt Baumann</a> (SWITCH), WiFiMon Leader</li>
	<li><a href="mailto:sgjeci@rash.al?Subject=WiFiMon question" target="_top">Sokol Gjeci</a> (RASH) </li>
	<li><a href="mailto:nkostopoulos@netmode.ntua.gr?Subject=WiFiMon question" target="_top">Nikos Kostopoulos</a> (NTUA) </li>
	<li><a href="mailto:stamos@cti.gr?Subject=WiFiMon question" target="_top">Kostas Stamos</a> (GRNET) </li>
    </ul>

    <h4><b>GN4-2 SA3T5 Members</b></h4>
    <ul>
        <li><a href="mailto:kurt.baumann@switch.ch?Subject=WiFiMon question" target="_top">Kurt Baumann</a> (SWITCH), MSc UZH in mathematics, Project Leader/Systemengineer at SWITCH and GN4-2-SA3T5 Task Leader,</li>
        <li><a href="mailto:Toby.Rodwell@geant.org?Subject=WiFiMon question" target="_top">Toby Rodwell</a> (GEANT), SA3 Activity Leader,</li>
        <li><a href="mailto:anna.wilson@heanet.ie?Subject=WiFiMon question" target="_top">Anna Wilson</a> (HEAnet), Service Desk Manager in HEAnet,</li>
        <li><a href="mailto:james.healy@dcu.ie?Subject=WiFiMon question" target="_top">James Healy</a> (DCU),  Network Manager at Dublin City University,</li>
        <li><a href="mailto:kokkinos@cti.gr?Subject=WiFiMon question" target="_top">Vasileios Kokkinos</a> (GRNET), PhD, Software Engineer,</li>
        <li><a href="mailto:stamos@cti.gr?Subject=WiFiMon question" target="_top">Kostas Stamos</a> (GRNET), PhD, Software Engineer,</li>
        <li><a href="mailto:arne.oslebo@uninett.no?Subject=WiFiMon question" target="_top">Arne Oslebo</a> (UNINETT), PhD NTNU, Project Leader/Technical Architect at UNINETT.</li>
    </ul>
</div>

</body>
</html>
