<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Help</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.css"/>
    <link href="../../static/css/headerCss.css" rel="stylesheet" />
    <link href="../../static/css/footerCss.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="fragments/header :: header">
</div>

<div class="container" style="padding-top: 10ex; padding-bottom: 10ex;">
    <h3><b>Frequently Asked Questions</b></h3>
    <p>You may find <a href="https://vm3-gn3-sa2t5.vm.grnet.gr/wifimon/faq.html">HERE</a> a list of the most commonly asked questions and answers regarding WiFiMon.</p>

    <h3>How to get help</h3>
    <p>In case you are getting confused or you face any difficulty please press <a href="mailto:wifimon-users@lists.geant.org?Subject=WiFiMon question">HERE</a> to send an email to GN4-3 WiFiMon team mailing list.</p>

    <h4><b>GN4-3 WiFiMon Present Members</b></h4>
    <ul>
	<li><a href="mailto:pavle.vuletic@amres.ac.rs?Subject=WiFiMon question" target="_top">Pavle Vuletic</a> (AMRES/UoB), GN4-3 WP6 T3 Leader</li>
	<li><a href="mailto:kurt.baumann@switch.ch?Subject=WiFiMon question" target="_top">Kurt Baumann</a> (SWITCH)</li>
	<li><a href="mailto:tsotne@grena.ge?Subject=WiFiMon question" target="_top">Tsotne Gozalishvili</a> (GRENA) </li>
	<li><a href="mailto:uharizi@rash.al?Subject=WiFiMon question" target="_top">Ueda Harizi</a> (RASH) </li>
	<li><a href="mailto:phita@rash.al?Subject=WiFiMon question" target="_top">Pamela Hita</a> (RASH) </li>
	<li><a href="mailto:ngamtsemlidze@grena.ge?Subject=WiFiMon question" target="_top">Nugzar Gamtsemlidze</a> (GRENA) </li>
	<li><a href="mailto:nkostopoulos@netmode.ntua.gr?Subject=WiFiMon question" target="_top">Nikos Kostopoulos</a> (NTUA) </li>
	<li><a href="mailto:stamos@cti.gr?Subject=WiFiMon question" target="_top">Kostas Stamos</a> (GRNET) </li>
    </ul>

    <h4><b>Former Members</b></h4>
    <ul>
        <li>Toby Rodwell (GEANT), SA3 Activity Leader</li>
        <li>Anna Wilson (HEAnet), Service Desk Manager in HEAnet</li>
        <li>James Healy (DCU),  Network Manager at Dublin City University</li>
        <li>Vasileios Kokkinos (GRNET), PhD, Software Engineer</li>
        <li>Nikos Kanakis (GRNET), PhD, Software Engineer</li>
        <li>Arne Oslebo (UNINETT), PhD NTNU, Project Leader/Technical Architect at UNINETT</li>
        <li>Sokol Gjeci (RASH)</li>
        <li>Zurab Bukhnikashvili (GRENA)</li>
    </ul>
</div>

</body>
</html>
