<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Configuration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css"/>
</head>

<body>

<div th:replace="fragments/header :: header">
</div>

<div class="container" style="padding-top: 10ex; padding-bottom: 10ex;">

    <div class="subnetslist" th:unless="${#lists.isEmpty(subnets)}">

    <table class="table table-striped table-bordered table-condensed"
           style="word-wrap: break-word; table-layout: fixed;">
        <thead>
        <td>Id</td>
        <td>Subnet</td>
        </thead>
        <tbody>
        <tr data-th-each="s : ${subnets}">
            <td data-th-text="${s.id}"></td>
            <td data-th-text="${s.subnet}"></td>
        </tr>
        </tbody>
    </table>

    </div>

    <form role="form" action="#" th:action="@{/secure/subnets}" th:object="${subnet}" method="post">
        <div class="form-group">
            <label for="subnet">Subnet:</label>
            <input type="text" id="subnet" class="form-control" name="subnet" th:field="${subnet}" />
        </div>
        <button type="submit" class="btn btn-default" name="save">Add</button>
    </form>

</div>
<div th:replace="fragments/footer :: footer">
</div>
</body>
</html>