<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Check for Updates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.css"/>
    <link href="../../static/css/headerCss.css" rel="stylesheet" />
    <link href="../../static/css/versionCss.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body onload="javascript:getVersion()">

<div th:replace="fragments/header :: header">
</div>
<br/>
<div>
   <p><div id="used" th:text="'Used WiFiMon Version: ' + ${vers}"></div></p>
   <p><div id="latest"></div></p>
   <script th:inline="javascript">
    function getVersion(){
	    var vmUrl = /*[[${vmUrl}]]*/;
	    var userTracking = /*[[${user_tracking}]]*/;

	    if (!(userTracking.localeCompare("yes"))) {
	    	var request = new Request(vmUrl, {
		    method: 'GET',
		    headers: new Headers({ 'Content-Type': 'application/json'})
	    	});
		
	    	fetch(request)
	    	.then(response => response.json())
            	.then(function(json) {
		    var latest = "Latest WiFiMon Version: " + json.version;
		    document.getElementById("latest").innerHTML = latest;
	        });
	     } else {
		    var latest = "WiFiMon Version Tracking is disabled";
		    document.getElementById("latest").innerHTML = latest;
	     }
     }
</script>

</div>
<br/><br/>

</body>
</html>
